<!-- templates/inventory.html -->
{% extends 'base.html' %}

{% block content %}
<div class="inventory_display">
    <h1 class="inventory_header">Load Game</h1>
    <div class="row">
        <button type="button" class="btn btn-info">Save 1</button>
        <button type="button" class="btn btn-info">Save 2</button>
        <button type="button" class="btn btn-info">Save 3</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info">Save 4</button>
        <button type="button" class="btn btn-info">Save 5</button>
        <button type="button" class="btn btn-info">Save 6</button>
    </div>

    <div class="controls row mt-3">
        <button type="button" class="btn btn-secondary"><a href="{{ url_for('gameplay')}}">Load Game</a></button>
    </div>

{% endblock %}